#header{
	background:#BB3BD9;
}

.left .branch .title {
	background-color: #BB3BD9;
}

.left .branch .shelf li:HOVER {
	background-color: #FFF3EE
}

.resList .listTable .trodd {
	background-color: #FFF3EE
}

.resList .listTable thead th {
	background-color: #BB3BD9;
	color: #fff;
}

.resList .listTable tbody tr:hover {
	background-color: #EBD3E8
}

#loginGo .loginTitle{
	background:#BB3BD9;
}

#timetables .timetable .tabletitle,#timetables .timetable .ths{
	background-color: #EBD3E8
}